<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>StructRecon</title>
</head>
<body>
    <form method="POST" enctype=multipart/form-data>
        <div class="column1">
            <!-- Col 1 - Input -->
            <table class="input_table">
                <!-- Main input formula -->
                <tr>
                    <!-- HEADER -->
                    <td colspan="3" class="input_table_header">
                        Input identifiers
                    </td>
                </tr>

                <!-- Provide list -->
                <tr class="input_table_row_first">
                    <td class="input_cell">
                        <label for="input_radio_ids">
                        <input checked name="input_radio" type="radio" id="input_radio_ids" value="ids">
                        </label>
                    </td>
                    <td class="input_cell">
                        <label for="input_radio_ids">
                        <b>List of identifiers</b>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="input_cell">
                        <label for="select_id_type_1"></label>
                        <select name="select_id_type_1" id="select_id_type_1">
                            {% for (val_str, list_str) in input_types.items() %}
                                <option value="{{val_str}}">{{list_str}}</option>
                            {% endfor %}
                        </select>
                        Identifier type
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="input_cell">
                        <label for=input_id_list></label>
                        <textarea id=input_id_list name="input_id_list"></textarea>
                        <br/>
                    </td>
                </tr>

                <tr>
                    <td class="table_cell_border" colspan="100%"></td>
                </tr>

                <!-- Upload newline-separated list -->
                <tr class="input_table_row_first">
                    <td class="input_cell">
                    <label for="input_radio_file_ids">
                        <input name="input_radio" type="radio" id="input_radio_file_ids" value="file_ids">
                    </label>
                    </td>
                    <td class="input_cell">
                        <label for="input_radio_file_ids">
                        <b>Upload list of identifiers</b>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="input_cell">
                        <label for="select_id_type_2"></label>
                        <select name="select_id_type_2" id="select_id_type_2">
                            {% for (val_str, list_str) in input_types.items() %}
                                <option value="{{val_str}}">{{list_str}}</option>
                            {% endfor %}
                        </select>
                        Identifier type
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="input_cell">
                        <input type="file" id="id_list_file" name="id_list_file">
                    <br>
                    </td>
                </tr>

            <tr>
                <td class="table_cell_border" colspan="100%"></td>
            </tr>

            <!-- Upload SBML -->
            <tr class="input_table_row_first">
                <td class="input_cell">
                <label for="input_radio_file_sbml">
                    <input name="input_radio" type="radio" id="input_radio_file_sbml" value="file_sbml">
                </label>
                </td>
                <td class="input_cell">
                    <label for="input_radio_file_sbml">
                    <b>Upload SBML file</b>
                    </label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="input_cell">
                    <input type="file" id="sbml_file" name="sbml_file">
                </td>
            </tr>

            <tr>
                <td class="table_cell_border" colspan="100%"></td>
            </tr>

            <!-- Upload JSON -->
            <tr class="input_table_row_first">
                <td class="input_cell">
                <label for="input_radio_file_json">
                    <input name="input_radio" type="radio" id="input_radio_file_json" value="file_json">
                </label>
                </td>
                <td class="input_cell">
                    <label for="input_radio_file_json">
                    <b>Upload JSON file</b>
                    </label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="input_cell">
                    <input type="file" id="json_file" name="json_file">
                </td>
            </tr>
            </table>

            <br>
            <input class="button_big button_gre" type="submit" value="Submit query">
            <input class="button_big button_grey" type="reset" value="Clear form">
            {#  <input class="button_big button_yel" type="reset" value="Save query as .json">   #}


            <p class="help">
                When providing a list of IDs or uploading a list, either:
            </p>
            <ul class="help">
                <li>
                    Enter one identifier per line. Select the type using the drop-down menu, or let
                    StructRecon automatically infer the type.
                </li><li>
                    Enter one type and identifier per line, separated by space, e.g. "pubchem 31348"
                </li>
            </ul>
            <p class="help">
                Note that automatically inferring the type of IDs can lead to errors if the same ID is shared between
                multiple sources.
                    <br><br>
                JSON files must be formatted according to the documentation (TODO INSERT LINK).
            </p>

            <br>
            <p class="help">
                Processing may take up to several minutes depending on the size of the input.
            </p>


        </div>
        <div class="column2">
            {# Accompanying text                                                                                      #}
            {# ------------------------------------------------------------------------------------------------------ #}
            <div class="infobox">
                <p>
                    StructRecon is a cheminformatics tool for automatically determining the structure of compounds from
                    given database identifiers.
                    <br><br>

                    StructRecon traverses the cross-references between chemical databases in order to obtain a more
                    complete view of the information available on any given compound. This allows StructRecon
                    to resolve structures for database identifiers which may not directly contain the structure.
                    In the case where the program finds multiple conflicting chemical structures, a random-walk based
                    scoring algorithm is used to determine the most likely structure.
                    <br><br>

                    StructRecon is written in Python,
                    <a href="https://gitlab.com/casbjorn/structrecon">and the source code is available at GitLab</a>.
                    It accompanies the paper:
                </p>
                <div class="paperbox">
                    <b>Toward the Reconciliation of Inconsistent Molecular Structures from Biochemical Databases</b>
                        <br>
                    Casper Asbjørn Eriksen,
                    Jakob Lykke Andersen,
                    Rolf Fagerberg,
                    Daniel Merkle
                    (2024)
                        <br>
                    <a href="https://doi.org/10.1089/cmb.2024.0520">DOI:10.1089/cmb.2024.0520</a>
                        <br>
                    <i>Journal of Computational Biology</i>
                </div>
                <p>
                    If you choose to use StructRecon in your research, we kindly ask you to cite this paper.
                </p>

                <p>
                  This work is part of the <a href="https://www.sdu.dk/en/forskning/matomic">MATOMIC project</a>, sponsored by the Novo Nordisk Foundation grant NNF21OC0066551.
                </p>
                <br>
                <img src = ".{{ url_for('static', filename='novo.png' ) }}" alt = "Novo Nordisk Foundation" height="120px">

            </div>
                    </div>

        {# PARAMETERS SECTION #}
        {# ---------------------------------------------------------------------------------------------------------- #}
        <table
            class="parameter_table"
            style="
                width:100%;
                table-layout: auto;
            "
        >
            <tr>
                <td class="parameter_table_header" colspan="3" >
                    Parameters
                </td>
            </tr>
            {% for web_param in web_params %}
                {# For each parameter, display the name, input field and description #}
                <tr class="row-parameter">
                    {# Name #}
                    <td class="cell_parameter cell_parameter_name">{{ web_param.name_web }}</td>

                    {# Input field, depends on the type of parameter #}
                    {% if web_param.param_type == 'str' %}
                        {# String input #}
                        <td class="cell_parameter cell_parameter_input"> <label> <input
                                type="text"
                                name="{{ web_param.name }}"
                                id="{{ web_param.name }}"
                                value="{{ web_param.default }}"
                                maxlength="5"       {# TODO if adding more standardisation functions, change #}
                                {% if web_param.pattern %}
                                    pattern="{{ web_param.pattern }}"
                                {% endif %}
                        > </label> </td>
                    {% elif web_param.param_type == 'int' %}
                        {# Integer input #}
                        <td class="cell_parameter cell_parameter_input"> <label> <input
                                type="number"
                                name="{{ web_param.name }}"
                                id="{{ web_param.name }}"
                                {% if web_param.value_min %}
                                    min="{{ web_param.value_min }}"
                                {% endif %}
                                {% if web_param.value_max %}
                                    max="{{ web_param.value_max }}"
                                {% endif %}
                                value = "{{ web_param.default }}"
                                step = "1"
                        > </label> </td>
                    {% elif web_param.param_type == 'float' %}
                        {# Float input #}
                        <td class="cell_parameter cell_parameter_input"> <label> <input
                                type="number"
                                name="{{ web_param.name }}"
                                id="{{ web_param.name }}"
                                {% if web_param.value_min %}
                                    min="{{ web_param.value_min }}"
                                {% endif %}
                                {% if web_param.value_max %}
                                    max="{{ web_param.value_max }}"
                                {% endif %}
                                value = "{{ web_param.default }}"
                                step = "0.01"
                        > </label> </td>
                    {% elif web_param.param_type == 'bool' %}
                        {# Boolean input #}
                        <td class="cell_parameter cell_parameter_input"> <label> <input
                            type="checkbox"
                            name="{{ web_param.name }}"
                            id="{{ web_param.name }}"
                            {% if web_param.default == True %}
                                checked
                            {% endif %}
                        > </label> </td>
                    {% elif web_param.param_type == 'check' %}
                        {# Checkboxes #}
                        <td class="cell_parameter cell_parameter_input">
                            {% for choice in web_param.choices %}
                            <label><input
                                type="checkbox"
                                name="{{ web_param.name }}"
                                id="{{ choice }}"
                                value="{{ choice }}"
                                {% if web_param.default[choice] %}
                                    checked
                                {% endif %}
                            >
                            {{ choice }}
                            </label><br>
                            {% endfor %}
                        </td>
                    {% elif web_param.param_type == 'radio' %}
                        {# Radio buttons #}
                        <td class="cell_parameter cell_parameter_input">
                            {% for choice in web_param.choices %}
                            <label><input
                                type="radio"
                                name="{{ web_param.name }}"
                                id="{{ choice }}"
                                value="{{ choice }}"
                                {% if web_param.default == choice %}
                                      checked
                                {% endif %}
                            >
                            {{ choice }}
                            </label><br>
                            {% endfor %}
                      </td>
                    {% else %}
                        <td> ERROR </td>
                    {% endif %}

                    {# Description #}
                    <td class="cell_parameter cell_parameter_description">{{ web_param.description }}</td>
                </tr>

            {# Insert table border if not last #}
                {% if not loop.last %}
                    <tr><td colspan=100% class="table_cell_border"></td></tr>
                {% endif %}

            {% endfor %}

        {# Table footer #}
        <tr><td colspan=3 class="parameter_table_footer"></td></tr>


        </table>
    </form>

        {# End matter #}
        {# ---------------------------------------------------------------------------------------------------------- #}



</body>
</html>


{# STYLESHET                                                                                                          #}
{# ------------------------------------------------------------------------------------------------------------------ #}
<style>

    table {
        border-collapse: collapse;
    }

    {# Column Layout #}
    .column1 {
        float: left;
        width: 35%;
    }
    .column2 {
        float: left;
        width: 65%;
    }

    {# Explainer text #}
    div.infobox {
        padding: 20px;
        color: #404040;
    }

    {# Textbox #}
    div.paperbox {
        padding: 20px;
        border-radius: 10px;
        background-color: #f6f4d8;
    }

    {# Input table #}
    table.input_table {
        border-collapse: collapse;
        border-spacing: 10px;
        background-color: #f6f6f6;
        width: 100%;
        border-radius: 10px;
    }

    td.input_table_header {
        background-color: #71d97e;
        color: white;
        padding: 8px;
        font-size: 22px;
        font-weight: bold;
        border-radius: 10px 10px 0 0;
    }

    td.input_cell {
      padding: 4px 4px 8px;
    }

    td.table_cell_border {
        border-top: 1px solid lightgrey;
    }

    p.help {
        margin-top: 10px;
        font-style: italic;
        color: #404040;
    }
    ul.help {
        margin-top: 10px;
        font-style: italic;
        color: #404040;
    }

    {# Parameter table #}
    table.parameter_table {
        background-color: #f6f6f6;
        border-radius: 10px;
    }
    td.parameter_table_header {
        background-color: #71d97e;
        color: white;
        padding: 8px;
        font-size: 22px;
        font-weight: bold;
        border-radius: 10px 10px 0 0;
    }
    td.parameter_table_footer {
        border-radius: 0 0 10px 10px;
        height: 10px;
        background-color: #f6f6f6;
    }
    tr.row-parameter {
        vertical-align: top;
    }
    td.cell_parameter {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    td.cell_parameter_name {
        font-weight: bold;
        padding-left: 8px;
    }
    td.cell_parameter_input {

    }
    td.cell_parameter_description {
        font-style: italic;
        color: #404040;
        padding-left: 24px;
        padding-right: 8px;

    }

    {# Buttons #}
    .button_big {
        border: none;
        color: white;
        padding: 12px 30px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        border-radius: 6px;
    }

    .button_gre {
        background-color: #71d97e;
    }
    .button_gre:hover {
        background-color: #569B5E;
    }

    .button_grey {
        background-color: #888888;
    }
    .button_grey:hover {
        background-color: #444444;
    }





</style>