<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
  <meta charset="UTF-8">
  <title>StructRecon</title>
</head>
<body>

{# Jinja Namespace for correct scoping #}
{% set ns = namespace(found=false) %}

{# Overview (left) column #}
{# ============================================================================================================== #}
<div class="column">

  <h1 class="result">Result</h1>

  {# Download and other buttons #}
  <input type="button" value="Return to input form" onclick="history.back()">
  <input type="button" value="Download output as zip" onclick="downloadDir()">
  <form method="get" action="data/{{ uid }}/json" style="display: inline;">
     <button type="submit">Download response as JSON</button>
  </form>


  <h2 class="sep">
    Input mapping
  </h2>
  <p class="info">
    Click on a row in the list to display the associated identifier graph and statistics.
  </p>

  {# Main Div containing the result ID table. #}
  <div style="
          height:700px;
          overflow:auto;  {# Optionally scroll?  #}
          ">

    <table
            class="maptable"
            valign="top"
            style="
                width:100%;
                table-layout: fixed;
                "
    >
      <tr>
        <th style="width:30%"><b>Compound</b></th>
        <th style="width:50%"><b>Result</b></th>
        <th style="width:10%"><b>Conf.</b></th>
      </tr>

      {% for c in response.compounds.values() %}
        {# Each result is rendered based on the cases #}

        {% if c.status == ns_response.Status.NO_STRUCT %}
          {# NO STRUCTURES FOUND #}
          <tr class="maptablerow" onclick="changeInput('{{ c.v_input.cont }}', '{{ outdir }}');">
            <td class="cell_nostruct cell_input" data-id="{{ c.v_input.cont }}">
              {{ c.v_input.cont }}
            </td>
            <td class="cell_nostruct cell_struct" colspan="2" data-id="{{ c.v_input.cont }}">
              <i>No structures found.</i>
            </td>
          </tr>

        {% elif c.status == ns_response.Status.CONSISTENT %}
          {# ONE CONSISTENT STRUCTURE #}
          <tr class="maptablerow" onclick="changeInput('{{ c.v_input.cont }}', '{{ outdir }}');">
            <td class="cell_consistent cell_input" data-id="{{ c.v_input.cont }}">
              {{ c.v_input.cont }}
            </td>
            <td class="cell_consistent cell_struct" colspan="2" data-id="{{ c.v_input.cont }}">
              {{ c.most_confident_vertex.cont }}
            </td>
          </tr>

        {% elif c.status == ns_response.Status.CONSISTENT_SELECT %}
          {# MULTIPLE STRUCTURES, BUT ONE CHOSEN #}
          {% set ns.printfirst = "True" %}
          {% for v in c.candidate_structures_sorted %}
            <tr class="maptablerow" onclick="changeInput('{{ c.v_input.cont }}', '{{ outdir }}');">
              {% if ns.printfirst == "True" %}
                {% set ns.printfirst = "False" %}
                <td class="cell_consistent cell_input" rowspan="{{ c.n_candidate_structs }}" data-id="{{ c.v_input.cont }}">
                  {{ c.v_input.cont }}
                </td>
                <td class="cell_consistent cell_struct" data-id="{{ c.v_input.cont }}">
                  {{ v.cont }}
                </td>
                <td class="cell_consistent cell_conf" data-id="{{ c.v_input.cont }}">
                  <i><b>{{ c.candidate_conf_rel[v] | round(2) }}</b></i>
                </td>
              {% else %}
                <td class="cell_struct" data-id="{{ c.v_input.cont }}">
                  {{ v.cont }}
                </td>
                <td class="cell_conf" data-id="{{ c.v_input.cont }}">
                  <i>{{ c.candidate_conf_rel[v] | round(2) }}</i>
                </td>
              {% endif %}
            </tr>
          {% endfor %}

        {% elif c.status == ns_response.Status.INCONSISTENT %}
          {# AMBIGUOUS COMPOUND #}
          {# Print the input only in the first row displayed #}
          {% set ns.printfirst = "True" %}
          {% for v in c.candidate_structures_sorted %}
            <tr class="maptablerow" onclick="changeInput('{{ c.v_input.cont }}', '{{ outdir }}');">
              {% if ns.printfirst == "True" %}
                {% set ns.printfirst = "False" %}
                <td class="cell_inconsistent cell_input" rowspan="{{ c.n_candidate_structs }}" data-id="{{ c.v_input.cont }}">
                  {{ c.v_input.cont }}
                </td>
              {% else %}
              {% endif %}
              <td class="cell_inconsistent cell_struct" data-id="{{ c.v_input.cont }}">
                {{ v.cont }}
              </td>
              <td class="cell_inconsistent cell_conf" data-id="{{ c.v_input.cont }}">
                <i>{{ c.candidate_conf_rel[v] | round(2) }}</i>
              </td>
            </tr>
          {% endfor %}

        {% elif c.status == ns_response.Status.MACRO %}
          {# Macro compound #}
          <tr class="maptablerow" onclick="changeInput('{{ c.v_input.cont }}', '{{ outdir }}');">
            <td class="cell_macro cell_input" data-id="{{ c.v_input.cont }}">
              {{ c.v_input.cont }}
            </td>
            <td class="cell_macro cell_struct" colspan="2" data-id="{{ c.v_input.cont }}">
              <i>Identified as macromolecule.</i>
            </td>
          </tr>

        {% endif %}

        {# Print separator #}
        <tr><td colspan="3" class="maptable_sep1"></td></tr>
        <tr><td colspan="3" class="maptable_sep2"></td></tr>

      {% endfor %}
    </table>
  </div>

  {# Session data #}
  <h2 class="sep">
    Session details
  </h2>
  <p>Session ID: </p><p id="uid_elem">
    {{ uid }}
  </p>

</div>


{# Compound (right) column #}
{# ============================================================================================================== #}
<div class="column">
  {# Select the first compund by default #}
  {% set ns.show_input = response.compound_default.input %}

  <h1 class="details" id="compound_details">
    {{ ns.show_input }}: compound details
  </h1>

  {% for c_name, compound in response.compounds.items() %}
    {# Structure details table #}
    <table class="table_struct input_{{ c_name }} defaultinvisible">


      {# Structure information #}
      {# ------------------------------------------------------------------------------------------------------------ #}

      {# If only one structure found #}
      {% if compound.status == ns_response.Status.CONSISTENT %}
        {# Consistent compound #}
        <tr>
          <td colspan="4"><b>Consistent</b></td>
        </tr>
        <tr>
          <td colspan="4" class="struct_field">
            {{ compound.selected_structure.cont }}
          </td>
        </tr>
      {% elif compound.status == ns_response.Status.NO_STRUCT %}
        {# No structures #}
        <tr>
          <td colspan="4"><b>No structures found</b></td>
        </tr>
      {% elif compound.status == ns_response.Status.CONSISTENT_SELECT %}
        {# Multiple, resolved #}
        <tr>
          <td colspan="4">
            <b>Multiple structures, resolved (Confidence margin: {{ compound.conf_margin | round(2) }})</b>
          </td>
        </tr>
        <tr>
          <td colspan="4" class="struct_field">
            {{ compound.selected_structure.cont }}
          </td>
        </tr>
      {% else %}
        {# Mutliple, unresolved #}
        <tr>
          <td colspan="4"><b>Multiple structures, not resolved</b></td>
        </tr>
      {% endif %}
    </table>
  {% endfor %}


  {# Identifier graph #}
  {# -------------------------------------------------------------------------------------------------------------- #}
  {% if query.parameters[ns_parameters.param_draw_id_graphs] %}
    <h2 class="sep">
      Identifier graph
    </h2>
    <object
            id="idgraphsvg"
            data="{{ data_dir }}/compounds/{{ ns.show_input }}.svg"
            type="image/svg+xml"
            width="100%"
    >
      <p>Unable to display graph file. </p>
    </object>

    {# Buttons for the image #}
    <button
            value="idgraph_fullscreen"
            onclick="openImg()"
    >
      View in full screen
    </button>
    <form method="get" id="svgdownloadbutton" action="data/{{ uid }}/compounds/XXX.svg" style="display: inline;">
     <button type="submit">Save as SVG</button>
    </form>
  {% endif %}

  {# Stats table #}
  {# -------------------------------------------------------------------------------------------------------------- #}

  <h2 class="sep">
    Details
  </h2>

  {% for c_name, compound in response.compounds.items() %}
    <table class="table_stats input_{{ c_name }} defaultinvisible">

      {# For each property in the compound response #}
      {% for prop, value in compound.display_properties.items() %}
        <tr class="row_stats">
          <td class="stats_field">{{ prop }}</td>
          <td class="stats_value">{{ value }}</td>
        </tr>

        {# Separator #}
        {% if (not loop.last) or compound.display_properties_lists %}
          <tr>
            <td colspan="2" class="table_cell_border"></td>
          </tr>
        {% endif %}
      {% endfor %}

      {# For each list-like property #}
      {% for prop, value_list in compound.display_properties_lists.items() %}
        <tr class="row_stats">
          <td class="stats_field fullspanseparator" colspan="2">{{ prop }}</td>
        </tr>

        {# List all list-items #}
        {% for item in value_list %}
          <tr class="row_stats">
            <td class="stats_value fullspanitemseparator" colspan="2">{{ item }}</td>
          </tr>

        {% endfor %}


        {# Separator #}
        {% if not loop.last %}
          <tr>
            <td colspan="2" class="table_cell_border"></td>
          </tr>
        {% endif %}

      {% endfor %}


    </table>
  {% endfor %}

</div>


{# JS #}
{# ============================================================================================================== #}
<script>
    // Get all stats tables
    const all_stats_tables = document.getElementsByClassName('table_stats');
    const default_input = '{{ response.compound_default.input }}';
    let shown_input = default_input;

    // Change the input shown in the right column
    function changeInput(input, force = false) {
        let new_input = `${input}`;
        if (!force && new_input === shown_input) {
            return;
        }

        // Change highlight colour in compound table
        let cells_old = document.querySelectorAll(`[data-id=${shown_input}]`);
        let cells_new = document.querySelectorAll(`[data-id=${new_input}]`);

        for (let cell of cells_old) {
            if (cell.classList.contains('cell_nostruct_highlight')) {
                cell.classList.remove('cell_nostruct_highlight');
                cell.classList.add('cell_nostruct');
            }
            else if (cell.classList.contains('cell_inconsistent_highlight')) {
                cell.classList.remove('cell_inconsistent_highlight');
                cell.classList.add('cell_inconsistent');
            }
            else if (cell.classList.contains('cell_consistent_highlight')) {
                cell.classList.remove('cell_consistent_highlight');
                cell.classList.add('cell_consistent');
            }
            else if (cell.classList.contains('cell_macro_highlight')) {
                cell.classList.remove('cell_macro_highlight');
                cell.classList.add('cell_macro');
            }
        }

        for (let cell of cells_new) {
            if (cell.classList.contains('cell_nostruct')) {
                cell.classList.remove('cell_nostruct');
                cell.classList.add('cell_nostruct_highlight');
            }
            else if (cell.classList.contains('cell_inconsistent')) {
                cell.classList.remove('cell_inconsistent');
                cell.classList.add('cell_inconsistent_highlight');
            }
            else if (cell.classList.contains('cell_consistent')) {
                cell.classList.remove('cell_consistent');
                cell.classList.add('cell_consistent_highlight');
            }
            else if (cell.classList.contains('cell_macro')) {
                cell.classList.remove('cell_macro');
                cell.classList.add('cell_macro_highlight');
            }
        }

        // Change properties of the shown ID graph and download link
        try {
            document.getElementById('idgraphsvg').data = `{{data_dir}}/compounds/${input}.svg`;
            document.getElementById('svgdownloadbutton').action =  `{{ data_dir }}/compounds/${input}.svg`;
        }
        catch (TypeError) {}

        document.getElementById('compound_details').innerText = `${input}: compound details`;

        // Hide old tables and show new
        for (let elem of document.getElementsByClassName('input_' + shown_input)) {
            elem.style.display = 'None';
        }
        for (let elem of document.getElementsByClassName('input_' + new_input)) {
            elem.style.display = 'Table';
        }

        // Change shown input
        shown_input = `${input}`;
    }

    // Open identifier graph image in new tab
    function openImg() {
        let image = document.getElementById('idgraphsvg');
        let url = image.getAttribute('data');
        window.open(url, 'Image', 'resizable=1');
    }

    // Download the directory of the output
    function downloadDir() {
        // Function for the download button on the results page
        let userid = document.getElementById('uid_elem').innerText
        console.log(userid)
        const link = document.createElement("a");
        link.href = `/data/${userid}/zip`;
        link.download = 'output.zip';
        link.click();
    }


    // Show new input when loading page

    window.onload = function() {
      changeInput(shown_input, force = true);
    };

</script>


</body>
</html>


{# Style #}
{# ================================================================================================================== #}
<style>
  /* Headers for columns and sub-results */
  h1.result {
    background-color: #71d97e;
    color: white;
    border-radius: 6px;
    padding: 8px 8px 8px 12px;
    font-size: 20px;
  }

  h1.details {
    background-color: #71d97e;
    color: white;
    border-radius: 6px;
    padding: 8px 8px 8px 12px;
    font-size: 20px;
  }

  h2.sep {
    padding-top: 8px;
    border-top: 1px solid lightgrey;
    font-size: 18px;
    color: #444444;
    width: 100%;
  }


  /* Text types */
  p.info {
    font-style: italic;
    font-size: 14px;
    color: #404040;
  }

  /* Struct info table */
  table.table_struct {
    width: 100%
  }

  td.struct_field {
    word-wrap: break-word;
    word-break: break-all;
  }

  /* Statistics table */
  table.table_stats {
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    padding: 4px;
  }

  td.stats_field {
    font-weight: bold;
    horiz-align: left;
    word-wrap: break-word
  }

  td.stats_value {
    horiz-align: right;
    word-wrap: break-word;
    word-break: break-all;
  }

  /* Should be used on to separate categories */
  td.table_cell_border {
    border-top: 1px solid lightgrey;
  }

  /* Technical javascript stuff */
  *.defaultinvisible {
    display: None;
  }

  td.fullspanseparator {
    padding-top: 6px;
  }

  td.fullspanitemseparator {
    padding-top: 4px;
  }



  /* Result table */
  table.maptable {
    border-collapse: collapse;
  }

  tr.maptablerow {
    cursor: pointer;
  }

  td {
    word-wrap: break-word;
  }

  td.cell_input {
    font-weight: bold;
    vertical-align: top;
    padding: 6px;
  }
  td.cell_struct {
    padding: 6px;
  }
  td.cell_conf {
    padding: 6px;
    text-align: right;
  }



  {# Define cell colours #}

  td.cell_nostruct {
    background-color: #FE8FA4;
  }
  td.cell_inconsistent {
    background-color: #FEE28F;
  }
  td.cell_consistent {
    background-color: #9FE4A8;
  }
  td.cell_macro {
    background-color: #D4B2FE;
  }


  td.cell_nostruct_highlight {
    background-color: #FF5979;
  }
  td.cell_inconsistent_highlight {
    background-color: #FFD559;
  }
  td.cell_consistent_highlight {
    background-color: #71D97E;
  }
  td.cell_macro_highlight {
    background-color: #C18DFF;
  }




  td.maptable_sep1 {
    padding-bottom: 4px;
  }
  td.maptable_sep2 {
    border-top: 1px solid lightgrey;
    padding-bottom: 4px;
  }



  /* Layout */
  .column {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;

  }

  /* Image in results */
  img {
    width: 100%;
  }
</style>